img {
  max-width: 100%;
  height: auto;
}


body {
    margin: 0;
}

/* SECCIONES */

.HOME {
    background-image: url(Imagenes/Backheader.png);
    margin-top: 0%;
}


.ABOUT {
    background-color: #ffffff;


}


.FEATURES {
    background-image: url(Imagenes/Backheader.png);
    background-size: cover;
    background-position: center;
}



.CONTACT {
    background-color: #232233;
    color: aliceblue
}




header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



/* HOME */
/* NAV Y DOWNLOAD*/

nav {
    display: flex;
    justify-content: center;
}

.barraNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: White;
    position: relative;
    margin: 10px;
    margin-top: 5%;
    padding: 6px;
    border-radius: 3px;
    width: 95%;
    height: 3vh;
    z-index: 100;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    list-style: none;
    color: #000000;
}

.Download {
    background-color: #5956E9;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    height: 100%;
    transform: translateX(3%)
}

/* LOGO DE LA EMPRESA */

.logo-appolly {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 180%;
    width: 25%;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
}

.logo-appolly img {
    align-items: center;
    height: auto;
    width: 80%;
    margin: auto;
}


/* MENU LISTA */

.menu-lista {
    justify-content: flex-start;
    background-color: #5956E9;
    border: none;
    cursor: pointer;
    position: relative;
    padding: 10px;

}

.Sub1 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    list-style: none;
    padding: 10px 0;
    min-width: 160px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 101;
    text-align: left;
}

.Sub1 li a {
    display: block;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    z-index: 100;
}

.menu-lista:hover + .Sub1, .sub1:hover {
    display: block
}



/* CAJA DE TEXTO "HOME" */

.Box {
    box-sizing: border-box;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    width: 85%;
    height: 35vh;
    margin-top: 20%;
    margin-right: auto;
    margin-left: 3%;
    padding: 5%;
    max-width: 600px;
}

.Box h2{
    color: #5956E9;
}

.Box::before {
    content: "";
    position: absolute;
    top: -6%;
    left: 10%;
    width: 90%;
    height: 107%;
    border: 8px solid rgba(255, 255, 255, 0.18);
    z-index: -1;
}

/* CELU del HOME */


.Celu-HOME {
    background-color: transparent;
    margin: 10% auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    overflow: hidden;
}

.Celu-HOME img {
    display: block;
    max-width: 115%;
    height: auto;
    margin-left: 49%;
    transform: translateY(-11px);
}

.box-celu {
    display: flex;
    flex-direction: column;   
}






/* ABOUT */

.title-about {
    box-sizing: border-box;
    height: 28vh;
    margin-right: auto;
    margin-left: 6%;
    padding: 12%;
    max-width: 600px;
}

.phone-about{
     background-color: transparent;
    margin: 10% auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    overflow: hidden;
}


.phone-about img {
    display: block;
    max-width: 74%;
    height: auto;
    margin-left: 4%;
    transform: translateY(-4px);
}




/* FEATURES */


.FEATURES{
    color: #ffffff;
}


.title-features {
    box-sizing: border-box;
    height: 28vh;
    margin-right: auto;
    margin-left: 6%;
    padding: 12%;
    max-width: 600px
}

.phone-features{
     background-color: transparent;
    margin: 10% auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    overflow: hidden;
}


.phone-features img {
    display: block;
    max-width: 60%;
    height: auto;
    margin-left: 4%;
    transform: translateY(-1px);
    border-radius: 65px;
}

.first-list {
    margin-top: -5%;
    display: block;
    list-style: none;
}

.second-list{
    margin-top: 15%;
    display: block;
    list-style: none;

}



/*TEAM*/

.title-team {
    box-sizing: border-box;
    height: 28vh;
    margin-right: auto;
    margin-left: 6%;
    padding: 12%;
    max-width: 600px;
}






@media (min-width: 768px) {
    .box-celu, .phone-paragraphs
    {
        display: flex;
        flex-direction: row ;
    }
}



